.panelcentral-container{
    display:flex;
    flex-direction: column;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*investigar por que no me coge el css en sidernav */
h1.titulomenu{
    margin-left: 10px;
    margin-top: 10px;
}