<mat-card>
    <h2 class="titulo">Empleados</h2>
    <mat-card-header>
        <div>
            <ul>
                <li>
                    <button mat-raised-button class="botonagregar" >Agregar Empleado</button>
                </li>
            </ul>
        </div>
   </mat-card-header>
   <mat-card-header>
        <div class="buscador">
            <mat-form-field appearance="legacy">
                <mat-label>Buscar empleado</mat-label>
                <input matInput #input>
                
            </mat-form-field>
        </div>
   </mat-card-header>
</mat-card>
