<h2 class="titulo">CompetenZia</h2>
<div class="contenedor-cabecera">
    <div class="contenedor-izquierda">
        <h4>¿Que son las competencias?</h4>
        <p>Las competencias son el conjunto de conocimientos, habilidades y actitudes que una persona necesita para desempeñar una actividaed. Con el tiempo, estas pueden cambiar según las necesidades y avances en cada sector.</p>
        <hr>
        <h4>Las competencias en la empresa</h4>
        <p>Las competencias laborales son el conjunto de habilidades, conocimientos y actitudes que un trabajador necesita para desempeñar su rol de manera efectiva. No solo se trata de saber hacer una tarea, sino de cómo se lleva a cabo y de la capacidad de adaptarse al entorno de trabajo.Por ejemplo, encontrar personas con conocimientos técnicos en programación puede ser relativamente fácil, pero solo unas pocas tendrán la capacidad de integrarse y trabajar bien dentro de la cultura de la empresa.</p>
        <hr>
        <h4>Cual es el objetivo de CompetenZia</h4>
        <ul>
            <li>Es evaluar las competencias que tiene adquiridas un empleado dentro de la empresa</li>
            <li>Es evaluar el grado adquirido de dicha competencia</li>
            <li>En base a los resultados del Test, proponer areas de mejora de las soft skills del empleado</li>
        </ul>
    </div>

    <div class="contenedor-derecha">
        <img src="assets/oficina2.jpg" alt="competencia" class="imagen">
    </div>
</div>